.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
  background-color: red;
  width: 100%;
}

.headerText{
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  line-height: 50px;
  background-color: lightgray;
  width: 99.8%;
  border-bottom: 1px solid black;


}

.figures {
  z-index: 10;
  position: absolute;
  width: 300px;
  border: 1px solid black;
  border-right: 0;
  height: 650px;
  left: 0;
  top: 0;
}

.canvas {
  position: absolute;
  z-index: 10;
  width: 600px;
  height: 650px;
  left: 300px;
  top: 0px;
  border: 1px solid black
}

.draggable {
  width: 150px;
  height: 75px;
  margin: 5px auto;
}

canvas{
  position: absolute;
  top: 50px;
  left: 0;
  width: 600px;
  height: 600px;
  display: inline-block;
  z-index: 5;
}

.clearDiv {
  position: absolute;
  left: 650px;
  display: inline-block;
  width: 100px;
  height: 50px;
}

button{
  width: 100px;
  height: 50px;
}

.draggableDiv {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 150px;
  height: 75px;
  border: 1px solid black
}

.backgroundDiv{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

*:focus {
  outline: none;
}