.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.figures {
  position: absolute;
  width: 300px;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #EEEEEE;
}

.canvas {
  position: absolute;
  width: 600px;
  height: 100vh;
  left: 300px;
  top: 0px;
  background-color: #9E9E9E;
}

.draggable {
  width: 150px;
  height: 75px;
  margin: 5px auto;
}

canvas{
  width: 600px;
  height: 600px;
  background-color: cadetblue;
  display: inline-block;
}

.clearDiv {
  position: absolute;
  left: 1000px;
  display: inline-block;
}